:root {
  --clr-primary: #0bce5a;
  --clr-neutral-1: #060809;
  --clr-neutral-2: #d3d3d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::selection {
  background-color: var(--clr-primary);
  color: white;
}

body {
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  min-height: 100vh;
  font-family: "Matter SQ";
  color: var(--clr-neutral-1);
  text-align: center;
  line-height: 1.3em;
}

h1, h2 {
  font-weight: 600;
  line-height: 1.3em;
  font-size: 1.9rem;
  letter-spacing: -1px;
}

h3, h4 {
  font-weight: 500;
  line-height: 1.6em;
}

h4 {
  font-size: 1.125rem;
}

h1 {
  line-height: 1.5em;
}

p {
  font-size: 0.95rem;
}

#hamburger {
  width: 20px;
  height: 15px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
#hamburger span {
  display: block;
  height: 0px;
  border: 0.5px white solid;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#hamburger.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(-5%, 60%);
  -moz-transform: rotate(-45deg) translate(-5%, 60%);
  -o-transform: rotate(-45deg) translate(-5%, 60%);
  transform: rotate(-45deg) translate(-5%, 40%);
}

#site-header {
  width: 100%;
  height: 80px;
  background: var(--clr-neutral-1);
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

#container {
  padding: 80px 0 0;
}

#container section, #site-footer {
  padding: 0 16px 4rem;
}
#container section header h2, #site-footer header h2 {
  margin-bottom: 1rem;
}
#container section + section, #site-footer + section {
  padding-top: 48px;
}
#container section section, #site-footer section {
  padding: 0;
}

#hero {
  color: white;
  background-color: var(--clr-neutral-1);
  text-align: left;
}
#hero p.sub {
  margin: 24px 0 48px;
}
#hero .sponsors {
  margin-top: 88px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
}
#hero .sponsors img {
  height: 20px;
}

#features #qualities {
  margin: 64px 0;
  display: grid;
  gap: 4.5rem 1.875rem;
}
#features #qualities img {
  width: 72px;
  border-radius: 8px;
}
#features #qualities h3 {
  margin-top: 24px;
}
#features #qualities p {
  margin-top: 4px;
}
#features #needs {
  display: grid;
  row-gap: 30px;
}
#features #needs h2 {
  margin-bottom: 32px;
}
#features #needs .videos video {
  background-color: #ebedee;
  min-height: calc((100vw - 32px) * 369.733 / 343.466);
  border-radius: 8px;
  width: 100%;
  max-width: 480px;
  object-fit: contain;
}
#features #needs #scroll-navigation span {
  background-color: var(--clr-neutral-2);
}
#features #needs #scroll-navigation span.active {
  background-color: var(--clr-neutral-1);
}
#features #needs #current-video p {
  color: #8f96a3;
}
#features #needs #scroll-navigation-desktop {
  display: none;
}

#testimonials {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
#testimonials header {
  padding: 0 16px;
}
#testimonials figure {
  display: grid;
  margin: 3rem auto 0;
}
#testimonials figure #testimonial-image {
  width: 100%;
}
#testimonials figure figcaption {
  background-color: var(--clr-neutral-1);
  color: white;
  padding: 48px 16px;
}
#testimonials figure figcaption * + * {
  margin-top: 2rem;
}
#testimonials figure figcaption #testimonial-name {
  color: #656b76;
  font-size: 0.9375rem;
}
#testimonials figure figcaption #scroll-navigation-testimonials span {
  background-color: #656b76;
}
#testimonials figure figcaption #scroll-navigation-testimonials span.active {
  background-color: white;
}
#testimonials figure figcaption #company-icon {
  height: 3rem;
}

#integrations header p {
  text-align: left;
}
#integrations #media-cards {
  margin-top: 4rem;
  overflow-x: scroll;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, minmax(285px, 1fr));
}
#integrations #media-cards .media-card {
  padding: 56px 28px;
  border: 1px solid #e9ebec;
  border-radius: 0.5rem;
  text-align: left;
}
#integrations #media-cards .media-card .media-icon {
  margin-bottom: 2rem;
}
#integrations #media-cards .media-card h3 {
  margin-bottom: 1rem;
}

#support-team {
  padding: 0;
}
#support-team div:nth-child(1) {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  object-position: center center;
  height: 50vh;
}
#support-team div:nth-child(1) img {
  object-fit: contain;
}
#support-team div:nth-child(2) {
  padding: 3rem 16px 5px;
  text-align: left;
}
#support-team div:nth-child(2) span {
  color: #8f96a3;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  font-weight: 500;
  font-size: 0.8rem;
}
#support-team div:nth-child(2) h2 {
  margin: 1.25rem 0 1rem;
}

#resources .posts {
  display: grid;
  gap: 2rem 1.875rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  margin-top: 3rem;
}
#resources .posts article {
  border: 1px solid #e9ebec;
  border-radius: 0.5rem;
  text-align: left;
  overflow: hidden;
}
#resources .posts article img {
  width: 100%;
}
#resources .posts article div {
  margin: 1.5rem;
}
#resources .posts article div h4 {
  margin-bottom: 0.25rem;
}

#site-footer {
  padding-top: 6rem;
  padding-bottom: calc(6rem + 80px);
  background-color: var(--clr-neutral-1);
  color: white;
}
#site-footer div .list li {
  padding: 2.5rem 1rem;
  border-bottom: 1px solid #1a1c1f;
}
#site-footer div .list li span {
  display: flex;
  justify-content: space-between;
}
#site-footer div .list li span img {
  margin: 0 5px;
}
#site-footer div .list li p {
  display: none;
  font-size: 1rem;
  margin-top: 1rem;
}
#site-footer div .list li.active {
  background-color: #1a1c1f;
  border: none;
}
#site-footer div .list li.active p {
  display: block;
}

ul, li {
  text-align: left;
  list-style: none;
}

#sign-up {
  background: var(--clr-primary);
  width: 100%;
  height: 80px;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.navigation-bar {
  display: flex;
  justify-content: center;
}
.navigation-bar span {
  cursor: pointer;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 8px !important;
}

@media screen and (max-width: 300px) {
  #support-team div:nth-child(1) {
    width: 100%;
    height: fit-content;
  }
  #support-team div:nth-child(1) img {
    height: 100vw;
  }
}
@media screen and (min-width: calc(480px + 16px * 2)) {
  #features #needs .videos video {
    min-height: 516.7086116239px;
  }
}