$ff-body: "Matter SQ"
$page-margin: 16px
:root
    --clr-primary: #0bce5a
    --clr-neutral-1: #060809
    --clr-neutral-2: #d3d3d3
    //--page-margin: 16px
*
    
    margin: 0
    padding: 0
    box-sizing: border-box
    &::selection
        background-color: var(--clr-primary)
        color: white
body
    -webkit-font-smoothing: antialiased
    scroll-behavior: smooth
    min-height: 100vh
    font-family: $ff-body
    color: var(--clr-neutral-1)
    text-align: center
    line-height: 1.3em
    overflow-x: hidden
h1, h2
    font-weight: 600
    line-height: 1.3em
    font-size: 1.9rem
    letter-spacing: -1px
h3, h4
    font-weight: 500
    line-height: 1.6em
h4
    font-size: 1.125rem
h1
    line-height: 1.5em
p
    font-size: 0.95rem
#hamburger
    width: 20px
    height: 15px
    -webkit-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -o-transform: rotate(0deg)
    transform: rotate(0deg)
    -webkit-transition: 0.5s ease-in-out
    -moz-transition: 0.5s ease-in-out
    -o-transition: 0.5s ease-in-out
    transition: 0.5s ease-in-out
    cursor: pointer
    display: flex
    flex-wrap: wrap
    align-content: space-between
    span
        display: block
        height: 0px
        border: 0.5px white solid
        width: 100%
        background-color: white
        border-radius: 20px
        opacity: 1
        left: 0
        -webkit-transform: rotate(0deg)
        -moz-transform: rotate(0deg)
        -o-transform: rotate(0deg)
        transform: rotate(0deg)
        -webkit-transition: 0.25s ease-in-out
        -moz-transition: 0.25s ease-in-out
        -o-transition: 0.25s ease-in-out
        transition: 0.25s ease-in-out
        -webkit-transform-origin: left center
        -moz-transform-origin: left center
        -o-transform-origin: left center
        transform-origin: left center
    &.open
        span
            &:nth-child(1)
                -webkit-transform: rotate(45deg)
                -moz-transform: rotate(45deg)
                -o-transform: rotate(45deg)
                transform: rotate(45deg)
            &:nth-child(2)
                width: 0%
                opacity: 0
            &:nth-child(3)
                -webkit-transform: rotate(-45deg) translate(-5%, 60%)
                -moz-transform: rotate(-45deg) translate(-5%, 60%)
                -o-transform: rotate(-45deg) translate(-5%, 60%)
                transform: rotate(-45deg) translate(-5%, 40%)

#site-header
    width: 100%
    height: 80px
    background: var(--clr-neutral-1)
    display: flex
    padding: 0 $page-margin
    justify-content: space-between
    align-items: center
    position: fixed
    z-index: 1
    #menu
        .dropdown
            display: none
            position: fixed
            width: 100%
            left: 0
            top: 80px
            color: white
            height: 100vh
            background: var(--clr-neutral-1)
            padding: 0 $page-margin
            font-size: 15px
            h4, p
                font-weight: 400
                font-size: 15px
            .dropdowns
                margin: 20px 0
                .drop
                    p
                        margin-top: 1.5rem
#container
    padding: 80px 0 0
section, #site-footer
    padding: 0 $page-margin 4rem
    header
        h2
            margin-bottom: 1rem
    & + section
        padding-top: 48px
    section
        padding: 0
#hero
    color: white
    background-color: var(--clr-neutral-1)
    text-align: left
    .intro
        padding: 1rem 0
        img
            width: 100%
            opacity: 0.85
        .img-action
            display: flex
            transform: translate(20px, -150%)
            img
                width: 32px
                margin-right: 0.5rem
    p.sub
        margin: 24px 0 48px
    .sponsors
        margin-top: 88px
        display: flex
        justify-content: space-between
        width: 100%
        overflow: hidden
        img
            height: 20px
#features
    #qualities
        margin: 64px 0
        display: grid
        gap: 4.5rem 1.875rem
        img
            width: 72px
            border-radius: 8px
        h3
            margin-top: 24px
        p
            margin-top: 4px
    #needs
        display: grid
        row-gap: 30px
        h2
            margin-bottom: 32px
        .videos
            video
                background-color: #ebedee
                min-height: calc((100vw - 2*($page-margin)) * (369.733)/(343.466))
                border-radius: 8px
                width: 100%
                max-width: 480px
                object-fit: contain
        #scroll-navigation
            span
                background-color: var(--clr-neutral-2)
                &.active
                    background-color: var(--clr-neutral-1)
        #current-video
            p
                color: #8f96a3
        #scroll-navigation-desktop
            display: none
#testimonials
    width: 100%
    padding:
        left: 0
        right: 0
        bottom: 0
    header
        padding: 0 $page-margin
    figure
        display: grid
        margin: 3rem auto 0
        #testimonial-image
            width: 100%
        figcaption
            * + *
                margin-top: 2rem
            background-color: var(--clr-neutral-1)
            color: white
            padding: 48px $page-margin
            #testimonial-name
                color: #656b76
                font-size: 0.9375rem
            #scroll-navigation-testimonials
                span
                    background-color: #656b76
                    &.active
                        background-color: white
            #company-icon
                height: 3rem
#integrations
    header
        p
            text-align: left
    #media-cards
        margin-top: 4rem
        overflow-x: scroll
        display: grid
        gap: 1.5rem
        grid-template-columns: repeat(4,minmax(285px,1fr))
        .media-card
            padding: 56px 28px
            border: 1px solid #e9ebec
            border-radius: 0.5rem
            text-align: left
            .media-icon
                margin-bottom: 2rem
            h3
                margin-bottom: 1rem
#support-team
    padding: 0
    div:nth-child(1)
        width: 100%
        height: fit-content
        display: flex
        justify-content: center
        object-position: center center
        max-height: 50vh
        img
            object-fit: contain
            width: 100%
    div:nth-child(2)
        padding: 3rem $page-margin 5px
        text-align: left
        span
            color: #8f96a3
            text-transform: uppercase
            letter-spacing: -0.2px
            font-weight: 500
            font-size: 0.8rem
        h2
            margin: 1.25rem 0 1rem
#resources
    .posts
        display: grid
        gap: 2rem 1.875rem
        grid-template-columns: repeat(1,minmax(0,1fr))
        margin-top: 3rem
        article
            border: 1px solid #e9ebec
            border-radius: 0.5rem
            text-align: left
            overflow: hidden
            img
                width: 100%
            div
                margin: 1.5rem
                h4
                    margin-bottom: 0.25rem
#site-footer
    padding:
        top: 6rem
        bottom: calc( 6rem + 80px)
    background-color: var(--clr-neutral-1)
    color: white
    .faq
        display: flex
        flex-direction: column
        .list
            margin-top: 3rem
            li
                padding: 2.5rem 1rem
                border-bottom: 1px solid #1a1c1f
                p
                    font-weight: 300
                    font-size: 1rem
                    margin-top: 1rem
                &.active
                    background-color: #1a1c1f
                    border: none
    .get-started
        margin: 4rem 0
        button
            margin-top: 3rem
            padding: 0.875rem 2rem
            border-radius: 5px
            background-color: var(--clr-primary)
            color: inherit
            font-family: inherit
            font-weight: 500
            font-size: 14px
    .links
        margin: 54px 0 152px
        .dropdown
            .dropdowns
                font-weight: 400 !important
                margin-bottom: 2rem
                span
                    color: #50555e
                ul
                    li
                        margin-top: 1.25rem
                        & + li
                            margin-bottom: 1.25rem
    .platforms
        text-align: left
        .logo-section
            //display: flex
            height: 100%
            align-items: flex-end
            img
                margin-right: 12px
            p
                display: inline
                font-size: 15px
        h4
            margin: 1rem 0
            font-size: 15px
        .os-logo
            img + img
                margin-left: 0.75rem
    .disclaimer
        margin-top: 40px
        p
            font-size: 15px
            text-align: left
    
.dropdown
    li
        cursor: pointer
        span
            display: flex
            justify-content: space-between
            img
                margin: 0 5px
                transition: transform 500ms
        .drop
            display: none
        &.active
            span
                img
                    transform-origin: center
                    transform: rotateX(180deg) rotateY(360deg)
            .drop
                display: block
ul,li
    text-align: left
    list-style: none
#sign-up
    background: var(--clr-primary)
    width: 100%
    height: 80px
    justify-content: center 
    display: flex
    align-items: center
    color: white
    position: fixed
    bottom: 0
    z-index: 1


.navigation-bar
    display: flex
    justify-content: center
    span
        cursor: pointer
        width: 12px
        height: 12px
        border-radius: 50%
        margin: 8px !important

@media screen and ( max-width: 300px )
    #support-team
        div:nth-child(1)
            width: 100%
            height: fit-content
            img
                object-fit: contain
                height: 100vw
@media screen and ( min-width: 576px )
    #support-team
        div:nth-child(1)
            width: 100%
            height: fit-content
            img
                width: 100%
                height: auto
    
@media screen and ( min-width: calc(480px + #{$page-margin} * 2))
    #features
        #needs
            .videos
                video
                    min-height: calc(480px * (369.733)/(343.466))
    